<div class="ml-4 mt-4">
  <form>
    <div class="row">
      <div class="col-8 form-group">
        <label for="countrySelect">Select Country</label>
        <select id="countrySelect" [(ngModel)]="selectedCountryIso" name="selectCountry" 
        (change)="loadCities()"
        class="form-control">
        <!-- (change)="getCities()" -->
          <option *ngFor="let country of countries" [value]="country.iso">
            {{country.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="citySelect">Select city</label>
        <select id="citySelect" [(ngModel)]="selectedCityId" class="form-control" name="selectForCity"
        (change)="loadStores()">
          <option *ngFor="let city of cities" [value]="city.id">
            {{city.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="storeSelect">Select Operation</label>
        <select id="storeSelect" [(ngModel)]="couponForm.storeId" class="form-control" name="selectForStores">
          <option *ngFor="let store of stores" [value]="store.id">
            {{store.nameWithType()}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="bfInput">Cod bon fiscal</label>
        <input [(ngModel)]="couponForm.bf" name="couponBf" class="form-control" id="bfInput">
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="cnpInput">CNP</label>
        <input [(ngModel)]="couponForm.cnp" name="couponCnp" class="form-control" id="cnpInput">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-primary" (click)="validateBF()">
          Submit
        </button>
        <button type="button" class="btn btn-secondary ml-2">
          Reinit
        </button>
      </div>
    </div>
  </form>
</div>

<p-dialog [(visible)]="isConfirmationDialogDisplayed" [modal]="true">
  You are about to redeem a coupon for ticket {{couponForm.bf}}. Are you sure?
  <p-footer>
    <button class="btn btn-primary" #yesButton>
      Yes
    </button>
    <button (click)="hideConfirmationDialog()" class="btn btn-danger">
      No
    </button>
  </p-footer>
</p-dialog>