<div class="ml-4 mt-4">
  <form>
    <div class="row">
      <div class="col-8 form-group">
        <label for="countrySelect">Country:</label>
        <select id="countrySelect" [(ngModel)]="selectedCountryIso" name="selectCountry" 
        (change)="loadCitiesByCurrentCountry()"
        class="form-control">
        <!-- (change)="getCities()" -->
          <option *ngFor="let country of countries" [value]="country.iso">
            {{country.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="citySelect">City:</label>
        <select id="citySelect" [(ngModel)]="selectedCityId" class="form-control" name="selectForCity"
        (change)="loadStoresByCurrentCity()">
          <option *ngFor="let city of cities" [value]="city.id">
            {{city.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="storeSelect">Store:</label>
        <select id="storeSelect" [(ngModel)]="couponForm.storeId" class="form-control" name="selectForStores">
          <option *ngFor="let store of stores" [value]="store.id">
            {{store.nameWithType()}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="receiptId">Receipt ID</label>
        <input [(ngModel)]="couponForm.receiptId" name="receiptId" class="form-control" id="receiptId">
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="cnpInput">CNP</label>
        <input [(ngModel)]="couponForm.cnp" name="couponCnp" class="form-control" id="cnpInput">
      </div>
    </div>
    <div class="row" *ngIf="returnedCouponCode">
      <div class="col-8" >
       <p class="bg-success center-block" style="padding: 15px; margin: 5px">Your Coupon Code: {{returnedCouponCode}}</p>   
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-primary" (click)="validateBF()">
          Submit
        </button>
        <button type="button" class="btn btn-secondary ml-2">
          Reinit
        </button>
      </div>
    </div>   
  </form>
</div>

<p-dialog [(visible)]="isConfirmationDialogDisplayed" [modal]="true">
  You are about to redeem a coupon for ticket {{couponForm.bf}}. Are you sure?
  <p-footer>
    <button #yesButton class="btn btn-primary">
      Yes
    </button>
    <button (click)="isConfirmationDialogDisplayed = false" class="btn btn-danger">
      No
    </button>
  </p-footer>
</p-dialog>