<div class="ml-4 mt-4">
  <form>
    <div class="row">
      <div class="col-4 form-group">
        <label for="exampleFormControlSelect1">Example select</label>
        <select class="form-control" id="exampleFormControlSelect1">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <label for="exampleFormControlSelect2">Example select</label>
        <select class="form-control" id="exampleFormControlSelect2">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <label for="exampleFormControlSelect3">Example select</label>
        <select class="form-control" id="exampleFormControlSelect3">
          <option>1</option>
          <option>2</option>
          <option>3</option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <label for="exampleFormControlInput1">Email address</label>
        <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <button class="btn btn-primary">Submit</button>
        <button class="btn btn-secondary ml-2">Reinit</button>
      </div>
    </div>
  </form>
</div>