<div class="ml-4 mt-4">
  <form>
    <div class="row">
      <div class="col-4 form-group">
        <label for="citySelect">Select City</label>
        <select
          [(ngModel)]="selectedCityCode"
          id="citySelect"
          name="selectCity"
          class="form-control">
          <option *ngFor="let city of cities"
            [value]="city.cityCode">
            {{city.cityName}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <label for="subsidiarySelect">Select subsidiary</label>
        <select 
          id="subsidiarySelect"
          class="form-control"
          name="selectForSubsidiary">
          <option *ngFor="let subsidiary of subsidiaries"
            [value]="subsidiary.subsidiaryCode">
            {{subsidiary.subsidiaryName}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <label for="operationSelect">Select Operation</label>
        <select 
          id="operationSelect"
          class="form-control"
          name="selectForOperations">
          <option *ngFor="let operation of operations">
            {{operation.operationName}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-4 form-group">
        <label for="emailAddressInput">Email address</label>
        <input type="email" class="form-control" id="emailAddressInput" placeholder="name@example.com">
      </div>
    </div>
    <div class="row">
      <div class="col-4">
        <button type="button" class="btn btn-primary" (click)="showConfirmationDialog()">Submit</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Reinit</button>
      </div>
    </div>
  </form>
</div>


<p-dialog [(visible)]="isConfirmationDialogDisplayed" [modal]="true">
  Are you sure blablablaba ?
  <p-footer>
    <button class="btn btn-primary">Yes</button>
    <button class="btn btn-danger">No</button>
  </p-footer>
</p-dialog>