<div class="ml-4 mt-4">
  <form>
    <div class="row">
      <div class="col-8 form-group">
        <label for="countrySelect">Select Country</label>
        <select
          id="countrySelect"
          [(ngModel)]="selectedCountryId"
          name="selectCountry"
          (change)="getCities()"
          class="form-control">
          <option *ngFor="let country of countries"
            [value]="country.id">
            {{country.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="citySelect">Select city</label>
        <select 
          id="citySelect"
          [(ngModel)]="selectedCityId"
          class="form-control"
          name="selectForCity">
          <option *ngFor="let city of cities"
            [value]="city.id">
            {{city.name}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="storeSelect">Select Operation</label>
        <select 
          id="storeSelect"
          [(ngModel)]="selectedStoreId"
          class="form-control"
          name="selectForStores">
          <option *ngFor="let store of stores" [value]="store.id">
            {{store.nameWithType()}}
          </option>
        </select>
      </div>
    </div>
    <div class="row">
      <div class="col-8 form-group">
        <label for="emailAddressInput">Email address</label>
        <input type="email" class="form-control" id="emailAddressInput" placeholder="name@example.com">
      </div>
    </div>
    <div class="row">
      <div class="col-8">
        <button type="button" class="btn btn-primary" (click)="showConfirmationDialog()">Submit</button>
        <button type="button" class="btn btn-secondary ml-2" (click)="resetForm()">Reinit</button>
      </div>
    </div>
  </form>
</div>


<p-dialog [(visible)]="isConfirmationDialogDisplayed" [modal]="true">
  Are you sure blablablaba ?
  <p-footer>
    <button class="btn btn-primary">Yes</button>
    <button class="btn btn-danger">No</button>
  </p-footer>
</p-dialog>